:root {
    --text-color: #000000;
    --bg-color:#ffffff;
    --box-bg-color:#D9D9D9;
}

body{
    color: var(--text-color);
    margin: 50px;
    margin-left: 120px;
    display: block;
}

.crescendo-night-img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-position: center;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-crescendo-night{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}

.title-crescendo-night h1{
    font-family:'Alfa Slab One',Georgia, serif;
    font-size: 90px;
    margin: 0;
}

.organizers{
    margin: 0;
    font-size: 32px;
    font-family: 'Roboto Mono',Serif;

}

.status{
    color: #ff0606;
    background-color: #ffdbdb;
    width: 21%;
    border-radius: 20px;
    font-size: 32px;
    margin: 0;
    text-align: center;

}

.bg-block{
    font-family:'Alfa Slab One',Georgia, serif;
    font-size: 36px;
}

.content{
    font-family: 'Roboto Mono',Serif;
    font-size: 24px;
    margin: 0;
}

.event-details{
    background-color: var(--box-bg-color);
    padding: 30px;
    border-radius: 20px;
    height: 200px;
}

.event-details-title{
    font-family: 'Alfa Slab One', Georgia, Serif;
    font-size: 36px;
    margin: 0;
}

.bg-block {
    display: inline-block;
    background-color: var(--box-bg-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 20px;
}

.event-tags .tags{
    padding:0;
    list-style: none;
}

.event-tags .tags li{
    display: inline-flex;
    justify-content: space-evenly;
    background-color: var(--box-bg-color);
    border-radius: 20px;
    padding: 10px;
    font-family:  'Roboto Mono',Serif;
    font-size: 24px;
}