.blog-main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 100px;
}

.blog-events{
    border:1px solid black;
    width: 450px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.blog-img{
    height: 286px;
}

.blog-events-pub{
    display: flex;
    align-items: center;
}

.blog-events-pub img{
    width: 60px;
    border-radius: 50%;
}

.userinfo{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.userinfo p{
    margin: 0;
}

.blog-details{
    margin: 20px;
}

.events-footer{
    border-top: 1px solid black;
}