body{
    color: black;
}


.main-article{
    display: flex;
    flex-direction: row;
}

.record {
	border: 3px solid gray;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 270px;
	padding: 1em;
	margin-top: 1em;    
}

#records{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.user-btn{
    display: flex;
    gap: 20px;
    text-align: center;    
}

#layout{
    margin-top: 80px;
    margin-left: 120px;

}
.user-btn .btn{
    border: 2px ridge grey;
    width: 150px;
    border-radius: 20px;
}

.expanded-con{
    display: none;
    width: 270px;
    transition: height 0.3s ease;
    overflow: hidden;
    /* background-color: #ffffff */
    ;
}

.record:hover .expanded-con{
    display: block
}
